<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href=
  "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity=
  "sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
  crossorigin="anonymous">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1">
  <style>
	  audio {height: 2em;}
  </style>
  <title>Podfaded</title>
</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>PodFaded</h1>
				<h2><small>Old podcasts never die, they just fade
				away...</small></h2>
			</div>

			<div class="col-sm-3">
				<h3 class="alert-success">Doing OK</h3>
				<h3 class="alert-warning">A Little Behind</h3>
				<h3 class="alert-danger">Podfaded</h3>
				<hr>
				<!-- <h3><a href="about.html">About</a> the site.</h3>
				<hr> -->
			</div>
			<div class="col-sm-3">
				<strong>Podcasts From:</strong>
				{% for source in sources %}
				<div>{{ source }}</div>
				{% endfor %}
				<hr>
			</div>

			<div class="col-sm-9">
				{% for show in shows %}
					<h3 class=
					"alert-{% if show.podfaded_status == 0 %}success 
						{% elif show.podfaded_status == 1 %}success 
						{% elif show.podfaded_status == 2 %}warning 
						{% elif show.podfaded_status == 3 %}warning 
						{% else %}danger {% endif %}">

						<a href="{{ show.feed_link }}"
						class="text-{% if show.podfaded_status == 0 %}success 
						{% elif show.podfaded_status == 1 %}success 
						{% elif show.podfaded_status == 2 %}warning 
						{% elif show.podfaded_status == 3 %}warning 
						{% else %}danger {% endif %}"
						>
							{{ show.feed_title }}
						</a>
					</h3>
					<div>
						Feed: {{ show.feed_url }}
					</div>
					<div>
						Latest episode
						<ul>
							<li>{{ show.latest_episode }}</li>
							<li>{{ show.latest_title }}</li>
						</ul>
					</div>

					{% if show.latest_href|length %}
					<div >
						<audio controls="controls" preload=none>
							<source src="{{ show.latest_href }}">
						</audio>
					</div>
					{% endif %}
				
				{% endfor %}
			</div>
			
		</div>
	</body>
</html>
